@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
:root{
    --red: #d63a25;
    --white: #fff;
    --dark: #1e1c2a;
}

body{
    color: var(--dark);
    background: var(--white);
}
.navigation{
    padding: 14px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 200%;
    background: var(--white);
    transition: all 0.5s;
    position: relative;
}

.navigation .logo{
    color: var(--red);
    font-size: 1.7rem;
    font-weight: 600;
    gap: 1rem;
}
.navigation ul{
    display: inline-block;
    gap: 1rem;
}

/*atedimento*/
.navigation ul li a{
    color: var(--white);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
    background-color: var(--dark);
    border-radius: 5px;
    padding: 3.9px 5px;
    margin-top: -10px;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: var(--red);
}
.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}
.home-text{
    max-width: 37rem;
}
.home-text .text-h4{
    font-size: 1.5rem;
    color: var(--red);
    margin-bottom: 1rem;
    margin-top: 100px;
}
.home-text p{
    margin-bottom: 4rem;
    
}

.home-img img{
    width: 100%;
    margin-left: 70px;
}
@media (max-width:785px){
    .navigation{
        padding: 18px 20px;
    }
    .menu{
        display: block;
    }
    .menu.ativo .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2){
        opacity: 0;
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg) ;
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--white); 
        gap: -10px;
        transition: 0.3s;   
    }
    .nav-menu.ativo{
        right: 0;
    }
    .nav-item{
        margin: 17px 0;
    }
/*main*/
.home{
    padding: 100px 2%;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    gap: 5rem;
 }
.home .text-h4{
    font-size: 15px;
}
.home p{
    font-size: 15px;
}
.home-img{
    width: 125%;
}
}

/* Adicione um novo estilo para o dropdown */
.nav-item.dropdown {
    position: relative; /* Tornar o pai relativo para posicionar o dropdown */
    display: inline-block;
    border: 1px #ccc;
}

.nav-item.dropdown .dropdown-menu {
    position: absolute;
    left: 0; /* Posiciona o dropdown à esquerda */
    top: 110%;
    background: var(--dark);
    display: none;
    width: 470px; /* Ajuste a largura do dropdown conforme necessário */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 10px;
    border: 5px solid #ccc;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block; /* Exibe o dropdown ao passar o mouse sobre o link */
}

.nav-item.dropdown:hover .dropdown-menu:hover {
    display: block; /* Mantém o dropdown aberto quando o mouse está sobre ele */
}


